@import "base.css";
@import "left-content.css";
@import "right-content.css";
@import "sidebox.css";
@font-face {
  font-family: cyworld;

  src: local(굴림);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: cyworld;
}
body {
  background-color: rgba(129,129,129,0.8);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
    z-index: -100;
  }
}
.splash-screen {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255,0.9);
  z-index: 100;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.lion {
  width: 70%;
  height: 70%;
  position: relative;
  left: 100px;
}
.welcome {
  font-size: 50px;
  color: orange;
  margin: 0 auto;
}
.entry {
  border: none;
  width: auto;
  height: 100px;
  background-color: rgba(255, 255, 255,0);
  font-size: 70px;
  position: absolute;
  bottom: 10%;
}
.splash {
  animation: hideSplashScreen 0.3s linear forwards;
}
